$font-family_1: 'Raleway-thin';
$background-color_1: transparent;

main {
    margin: auto;
    text-align: center;
}

.container-section1 {
    position: relative;
    background-image: url('../img/accueil-section1-bk.png');
    background-size: cover;
    background-position: center;
    width: 98.5vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, #221D2E 3.12%, rgba(34, 29, 46, 0.00) 29.69%, rgba(34, 29, 46, 0.76) 92.19%, #221D2E 100%);
    }
}

#section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    background-color: $background-color_1;

    div {
        background-color: $background-color_1;

        input {
            position: relative;
            z-index: 1;
        }

        button {
            position: relative;
            z-index: 1;
        }
    }

    p {
        background-color: $background-color_1;
        position: relative;
        z-index: 1;
        margin: -1rem 15rem 0 15rem;
        font-size: x-large;
    }
}

h1 {
    margin: 2rem;
    font-size: xx-large;
}

h2 {
    margin: 1.5rem;
    font-size: x-large;
}

#section2 {
    p {
        margin: 2rem;
        font-size: large;
        font-family: $font-family_1;
    }
}

.slideshow-container {
    width: 30rem;
    position: relative;
    margin: 3rem auto;
}

.slide {
    display: none;

    >img {
        width: 100%;
        height: auto;
    }
}

.commencer {
    margin: 2rem;
}

#plateformes {
    display: flex;
    justify-content: center;
    flex-direction: row;

    >img {
        height: 10rem;
    }
}