/* !! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !! */
/* !! CSS FINI IL NE FAUT PAS SUPPRIMER OU MODIFIER DE LIGNE !!*/
/* !! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !! */

#signup {
    font-family: "Raleway-thin";
    font-size: small;
    margin: 0.5rem;
    text-align: center;
}


#signup a {
    font-family: "Raleway-bold";
    color: #F2F2F2;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 47px;
}

.input-field div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#create-profil #create-profil-form input {
    width: 20rem;
    font-family: "Raleway";
}

#create-profil #create-profil-form label {
    width: 100%;
    left: -2.5rem;

    font-family: "Raleway-medium";
}

.send-profil {
    margin: 5rem 0 0 0;
    width: 20rem;

}

#create-profil #create-profil-form h1 {
    font-size: xx-large;
    font-family: "Raleway";
    margin: 0;
    text-align: left;
}


#message-container {
    width: 100%;
}

/* 
#message-container {
    border: solid 1px #F2F2F2;
    width: 20rem;
    position: absolute;
    left: -5rem;
} */

/* * Parent => input - label */
.input-field2 {
    width: 20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    border: 0.1rem solid #d3d3d3;
    border-radius: 0.3rem;
    /* espace entre le label et le border bot de l'input */
    line-height: 2.75rem;
    left: -3rem;
}


/* * Input */
.input-field2 input {
    width: 20rem;
    height: 60%;
    left: 2px;
    border: none;
    /* Supprime la bordure par défaut */
    background-color: transparent;
    /* Supprime le fond par défaut */
    box-shadow: none;
    color: #F2F2F2;
    /* Supprime le contour en focus */
    outline: none;
    font-size: 1.1rem;
    /* Espace entre le label et la value de l'input */
    top: 0;
}

#create-profil #create-profil-form .input-field2 label {
    width: 100%;
    left: 0.5rem;

    font-family: "Raleway-medium";
}

#create-profil #create-profil-form .input-field2 input {
    border-bottom: none;
}

#create-profil {
    margin: 6rem 0 0 0;
}

/* ^ ====================== Tablet ======================*/
@media screen and (min-width: 768px) and (max-width: 1023px) {

    #create-profil {
        margin: 12rem 0 0 0;
    }
}

/* ^ ====================== Smartphone ====================== */
@media screen and (max-width: 767px) {}