/* !! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !! */
/* !! CSS FINI IL NE FAUT PAS SUPPRIMER OU MODIFIER DE LIGNE !!*/
/* !! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !! */

.input-field div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-profil #create-profil-form input {
  width: 20rem;
  font-family: "Raleway";
}

#create-profil #create-profil-form label {
  width: 100%;
  left: -2.5rem;

  font-family: "Raleway-medium";
}

.send-profil {
  margin: 1rem 0 0 0;
  width: 20rem;

}

#create-profil #create-profil-form h1 {
  font-family: "Raleway";
  font-size: xx-large;
  margin: 0;
  text-align: left;
  width: 30rem;
}

#create-profil {
  margin: 6rem 0 0 0;
}

#signup {
  font-family: "Raleway-thin";
  font-size: small;
  margin: 0.5rem;
  text-align: center;
}


#signup a {
  font-family: "Raleway-bold";
  color: #F2F2F2;
}

form {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 47px;
}

/* ^ ====================== Tablet ======================*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #create-profil {
    margin: 12rem;
  }

}

/* ^ ====================== Smartphone ====================== */
@media screen and (max-width: 767px) {

  #create-profil #create-profil-form h1 {
    font-family: "Raleway";
    font-size: x-large;
    margin: 0;
    text-align: left;
    width: 20rem;
  }
}